body {
    margin: 0;
  }
  .outer-wrapper{
    border:2px solid black;
    width: 100vh;
    height: 100vw;
    transform:rotate(-90deg) translateX(-100vh);
    transform-origin:top left;
    overflow-y:scroll;
    overflow-x: hidden;
    position: absolute;
}
.wrapper{
    width: 285vw;
    display: flex;
    flex-direction:row;
    transform:rotate(90deg) translateX(-100vh) ;
    transform-origin:bottom left;
}
.slide{
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar{
    display: none;
}